/* Color Variables */
:root {
  --main-color: #eaeaea;
  --secondary-color: #00a300;

  --main-text: black;
  --secondary-text: #4b5156;

  --border-color: #c1c1c1;

  --previewBg: rgb(251, 249, 243, 0.8);
  --previewShadow: #f0ead6;

  --buttonColor: black;
}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


/* --- */
html,
body {
  padding: 0;
  margin: 0;
}

h1 {
  padding-bottom: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  /* color: var(--main-text); */
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

p,
li,
span,
label,
input,
textarea {
 font-family: sans-serif;
}

.s1{
	background-color: var(--mainColor);
	border-bottom:1px solid var(--borderColor);
	overflow:auto;
}

.s2{
	background-color: var(--secondaryColor);
	border-bottom:1px solid var(--borderColor);
	overflow:auto;
}

.main-container {
  width: 1200px;
  margin: 0 auto;

}


ul {
    list-style: none;
}

/* NAVBAR */
/* Colour Scheme */
.navbar-custom {
  background-color: darkblue;
}

/* Menu Links */
a.nav-link {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.0375rem;
  text-decoration: none;
  color: var(--secondary-color);
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav > li > a {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: whitesmoke !important;
}

a.navbar-brand {
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--secondary-color);
  text-transform: uppercase;
}

/* PARTICLES */
.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* Landing */
.greeting-wrapper {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 10em;
}

.intro-wrapper {
  background-color: var(--main-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px 5px 0 0;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3em 30em;
  grid-template-areas:
    "nav-wrapper nav-wrapper"
    "left-column right-column";
}

/* Typed Text */
.typed-text {
    font-size: 3.5rem;
    color: var(--secondary-text);
}

.nav-wrapper {
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--border-color);
}

#links {
  margin: 0;
  padding: 10px;
}

#links li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 1.5rem;
}

#links a {
  color: #5f5f5f;
}

.dots-wrapper {
  display: flex;
  padding: 10px;
}

#dot-1 {
  background-color: #fc6058;
}

#dot-2 {
  background-color: #fec02f;
}

#dot-3 {
  background-color: #2aca3e;
}

.browser-dot {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.left-column {
  grid-area: left-column;
  background-color: white;
  display: grid;
  align-content: center;
  justify-content: center;
}

#ProfilePic {
  display: block;
  margin: 0 auto;

  height: 300px;
  width: 300px;
  object-fit: cover;
  border: 2px solid var(--border-color);
  border-radius: 50%;
}

.right-column {
  grid-area: right-column;
  background-color: white;
  display: grid;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#preview-shadow {
  background-color: var(--previewShadow);
  width: 350px;
  height: 200px;
  padding-left: 30px;
  padding-top: 30px;
}

#preview {
  width: 350px;
  height: 200px;
  border: 2px solid #17a2b8;
  background-color: var(--previewBg);
  padding: 15px;
  position: relative;
}

#preview h3 {
  font-size: 3rem;

}

.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  background-color: white;
  position: absolute;
}

#corner-tl {
  top: -5px;
  left: -5px;
}

#corner-tr {
  top: -5px;
  right: -5px;
}

#corner-br {
  bottom: -5px;
  right: -5px;
}

#corner-bl {
  bottom: -5px;
  left: -5px;
}

.about-wrapper {
    display: grid;
    background-color: white;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 100px;

}

#more-about-me h3, p, a{
  text-align: center;
}

#more-about-me h3{
padding-bottom: 20px;
font-size: 3rem;
}

#more-about-me p {
  font-size: 2rem;
  padding-bottom: 5px;
}

#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
}

#skills ul {
  padding-top: 15px;
}

#skills li {
  font-size: 32px;
}

@media screen and (max-width: 1300px) {
  .main-container {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav-wrapper"
      "left-column"
      "right-column";
  }

  .right-column {
      justify-content: center;
  }
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 40px;
    justify-content: center;
    padding-bottom: 50px;
}

.post {
    border: 1px solid var(--border-color);


    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.post-preview {
    background-color: white;
    padding: 15px; 
}

.post-title {
    color: black;
    margin: 0;
    text-align: center;
}

.post-intro{
    color: #4b5156;
    font-size: 14px;
}

#contact-form {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--border-color);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--main-color);
    margin-bottom: 50px;
}

#contact-form label {
    line-height: 2.7em;
}

#contact-form textarea {
    min-height: 100px;
    font-size: 14px;
}

.input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    border: 1px solid var(--border-color);
    font-size: 14px;
}

#submit-btn {
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: var(--buttonColor);
    border: none;
}

.thumbnail {
    display: block;
    width: 100%;
    height: 220px;
    object-fit: cover;
}
